 
<div class="container">
  
  <form class="form-horizontal">
      <div class="form-group">
        <div >
          <input type="text"  class="form-control" ng-model='name' placeholder="entrer le nom de la ville">
        </div>
      </div>
    
    
      <div class="form-group">        
        <div >
          <button type="submit"  class="btn btn-default chercherClass" ng-click='chercher()' ng-disabled="!name" style="float: right;background-color: #8F7E4F"><b style="color: #E0E32C">CHERCHER</b></button>

        </div>
      </div>

  </form>
  <div class="list-group" ng-show='displaying'>
      <div  class="list-group-item  cityClass" style="background-color: #8DA1B9">
           <strong >{{city}} / {{country}}</strong>
      </div>
      <div  class="list-group-item list-group-item-success " ng-repeat='t in content.list'>
           
           <div>
                <div style="text-align: right;" >
                    <strong style="color: black">{{Math.round(t.temp.day)}} °C </strong>
                </div>
                <div  style="text-align: left" >
                    <strong style="top: 0px;font-size: 150%;color:#586A6A" >{{t.dt*1000|date:'EEE'}}</strong> <br/>
                   <b style="color: #586A6A">{{t.dt*1000|date:'dd/MM'}}</b> 
                </div>  
           </div>
           <div style="text-align: center;">
              <img src="http://openweathermap.org/img/w/{{t.weather.0.icon}}.png" style="width: 50px;height: 50px;">
           </div>     

      </div>

      
  </div>
</div>
